<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Link Search allows to find the hyperlinks in the predefined bookmarks" />
    <meta name="keywords" content="search, find, links, hyperlinks, bookmarks"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/emproviseicon.ico" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-editable.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-theme.min.css"/>
    <!--<script src="../../js/jquery.min.js"></script>-->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-table.js"></script>
    <script src="../../js/jquery.tabledit.min.js"></script>
    <script src="../../js/batchtable.load.js"></script>
</head>
<body>
    <div th:replace="fragments/banner :: banner">
        <div class="header">
            <img src="../../images/emprovise.gif" alt="emprovise" title="Emprovise" width="275" height="50"
                 th:src="@{/images/emprovise.gif}" th:alt-title="#{title.application}" />
        </div>
        <hr class="divider" />
    </div>

    <div class="container">
        <h2 th:text="#{title.list}">List of Batch Jobs</h2>
        <div id="toolbar">
            <a id="add_row" class="btn btn-default pull-left">Add Row</a>
            <!--<a id="update" class="btn btn-default pull-left">Update</a>-->
        </div>
        <table id="batchtable"
               data-toolbar="#toolbar"
               data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="false"
               data-show-export="false"
               data-show-footer="false"
               data-url="/web/batch/jobs">
            <thead>
            <tr>
                <th th:text="#{batchtask.id}" data-field="id">No</th>
                <th th:text="#{batchtask.collection}" data-field="collection" data-sortable="true">Collection Name</th>
                <th th:text="#{batchtask.service}" data-field="service" data-sortable="true">Service URL</th>
                <th th:text="#{batchtask.refreshDuration}" data-field="refreshDuration" data-sortable="true">Refresh Duration in Minutes</th>
                <th th:text="#{batchtask.lastExecutionDate}" data-field="lastExecutionDate" data-sortable="true">Last Execution Date</th>
            </tr>
            </thead>
            <tbody>
            <!--
            <tr th:each="task,iterationStatus : ${allBatchTasks}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${task.collection}">features</td>
                <td th:text="${task.service}">http://www.google.com</td>
                <td th:text="${task.refreshDuration}">30</td>
                <td th:text="${{task.lastExecutionDate}}">13/01/2011</td>
            </tr> -->
            </tbody>
        </table>
    </div>

    <br/><br/><br/>
    <div class="alert alert-success" id="eventsResult">
        Here is the result of event.
    </div>

    <div th:replace="fragments/footer :: footer">
        <div class="footer">
            <div style="float: left; width: 500;">
                <p>Copyright  2018. Designed and Developed by <a href="http://www.emprovisetech.blogspot.com" title="Emprovise">Emprovise Inc</a></p>
                <p><a href="/policy.html">Privacy Policy</a> | <a href="/terms.html">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
            </div>
        </div>
    </div>
</body>
</html>
