<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
    <title>Batch Jobs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Displays list of jobs currently scheduled and allows to add/edit/delete batch jobs if authorized" />
    <meta name="keywords" content="batch, jobs, schedule, duration"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/emproviseicon.ico" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-editable.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-theme.min.css"/>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/bootstrap-table.js"></script>
    <script src="../../js/jquery.tabledit.min.js"></script>
    <script src="../../js/batchtable.load.js"></script>
</head>
<body>
    <div th:replace="fragments/banner :: banner">
        <div class="header">
            <img src="../../images/emprovise.gif" alt="emprovise" title="Emprovise" width="275" height="50"
                 th:src="@{/images/emprovise.gif}" th:alt-title="#{title.application}" />
        </div>
        <hr class="divider" />
    </div>

    <div class="container">
        <h2 th:text="#{title.list}">List of Batch Jobs</h2>
        <div id="toolbar">
            <a id="add_job" class="btn btn-default pull-left" data-toggle="modal" data-target="#createBatchJobModal">Add New Job</a>
        </div>
        <table id="batchtable"
               data-toolbar="#toolbar"
               data-toggle="table"
               data-pagination="true"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="false"
               data-show-export="false"
               data-show-footer="false"
               data-id-field="id"
               data-url="/web/batch/jobs"
               class="table table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th th:text="#{batchtask.id}" data-field="id">No</th>
                <th th:text="#{batchtask.collection}" data-field="collection" data-sortable="true">Collection Name</th>
                <th th:text="#{batchtask.service}" data-field="service" data-sortable="true">Service URL</th>
                <th th:text="#{batchtask.refreshDuration}" data-field="refreshDuration" data-sortable="true">Refresh Duration in Minutes</th>
                <th th:text="#{batchtask.lastExecutionDate}" data-field="lastExecutionDate" data-sortable="true">Last Execution Date</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <br/><br/><br/>
    <div class="alert alert-success" id="eventsResult">
        Here is the result of event.
    </div>

    <div class="modal fade" id="createBatchJobModal" tabindex="-1" role="dialog"
         aria-labelledby="newBatchJobLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="newBatchJobLabel">Create New Batch Job</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="createBatchJobForm" class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="collection">Collection Name</label>
                            <div class="col-sm-7">
                                <input id="collection" name="collection" type="text" class="form-control" placeholder="Collection Name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="service">Service Url</label>
                            <div class="col-sm-7">
                                <input id="service" name="service" type="url" class="form-control" placeholder="Service Url"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="refreshDuration">Refresh Duration in Minutes</label>
                            <div class="col-sm-7">
                                <input id="refreshDuration" name="refreshDuration" type="number" class="form-control" placeholder="Refresh Duration" maxlength="8"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="action" type="hidden" value="create">
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">
        <div class="footer">
            <div style="float: left; width: 500;">
                <p>Copyright  2018. Designed and Developed by <a href="http://www.emprovisetech.blogspot.com" title="Emprovise">Emprovise Inc</a></p>
                <p><a href="/policy.html">Privacy Policy</a> | <a href="/terms.html">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
            </div>
        </div>
    </div>
</body>
</html>
