html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0px auto; 
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.header { 
	height: 70px;
	padding: 26px 0px 0px 33px;
	text-align: left;
	background: url(../images/logo.gif) top repeat-x;
}

.slogan {
	padding-left: 14px;
}

hr.divider {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.footer {
 	height: 93px;
	font-size: 10px;
	color: #ffffff;
	text-align: left;
	padding: 12px 25px 0px 25px;
	background: bottom no-repeat #03688E;
	border-top: 1px solid #ffffff;
}

.footer a{
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
}

.footer a:hover{
	color: #ffffff;
	font-size: 10px;
	text-decoration: underline;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}