<div th:fragment="footer">
    <div class="footer">
        <div style="float: left; width: 500;">
            <p>Copyright  2018. Designed and Developed by <a href="http://www.emprovisetech.blogspot.com" title="Emprovise">Emprovise Inc</a></p>
            <p><a href="/policy.html">Privacy Policy</a> | <a href="/terms.html">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
        </div>
    </div>
</div>